/*css pt partea goala a progress bar-ului 
overflow: hidden, indiferent cat de mare ar fi progress_fill nu iese din din progress */
.progress {
  width: 500px;
  height: 50px;
  background-color: #ccc;
  border-radius: 30px;
  overflow: hidden;
}
/* css pt partea plina a progress bar-ului  */
.progress__fill {
  margin-top: .3rem;
  height: 80%;
  background: coral;
  border-radius: 30px;
  box-shadow:0 0 60px rgb(250, 109, 226);
  animation: progress-animation 7s forwards;

}
/*  in keyframes specific cum trebuie sa mearga animatia. de la 0 la 100 in cazul acesta  */
@keyframes progress-animation {
  0%{width: 0%;}
  100%{width: 100%;}

}
